AT02_CreepyPastaGame/Library/
AT02_CreepyPastaGame/Builds/
AT02_CreepyPastaGame/Logs/
AT02_CreepyPastaGame/Temp/
AT02_CreepyPastaGame/obj/
AT02_CreepyPastaGame/.vs/
Intro to C#/Library/
Intro to C#/Logs/
Intro to C#/Temp/
Intro to C#/obj/
Intro to C#/.vs/
IntrotoGamesLearning/Library/
IntrotoGamesLearning/Logs/
IntrotoGamesLearning/Temp/
IntrotoGamesLearning/obj/
IntrotoGamesLearning/.vs/
Debugging Practice/Library/
Debugging Practice/Builds/
Debugging Practice/Logs/
Debugging Practice/Temp/
Debugging Practice/obj/
Debugging Practice/.vs/
IansClass/Library/
IansClass/Builds/
IansClass/Logs/
IansClass/Temp/
IansClass/obj/
IansClass/.vs/
AT03 Cabin in the Woods/Library/
AT03 Cabin in the Woods/Builds/
AT03 Cabin in the Woods/Logs/
AT03 Cabin in the Woods/Temp/
AT03 Cabin in the Woods/obj/
AT03 Cabin in the Woods/.vs/